.banner {
  background-color: #7b97d0;
  color: white;
  padding: 100px 0px;
  background-size: contain;
  background-position: top;
}

.banner h1 {
font-size: 60px;
}

.banner h2 {
font-size: 30px;
font-weight:lighter;
opacity: 0.5;
margin-bottom: 40px;
}
